.body {
    margin: 0 auto;
    width: 1200px;
    background-color: #dddddd;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.header {
    text-decoration: underline;
    font-size: 24px;
}

.paragraph {
    width: 50%;
}